{% extends "base.html" %}

{% load widget_tweaks %}


{% load crispy_forms_tags %}


{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>

    <!-- <a href="{% url 'login' %}">Log In</a> -->
    
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}"> 
    {% csrf_token %}      
    <div class="text-center container">    
             
        
      <img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMFma6OhEXZNWIyXpLEsNLAWnySXijjanBqg&usqp=CAU" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        
        {{form.username|add_class:"form-control"}}


        <label for="{{form.username.id_for_label}}" class="form-label" > User Name</label>


      </div>
      <div class="form-floating">
        {{form.password|add_class:"form-control"}}
        
        <label for="{{form.password.id_for_label}}" class="form-label">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>

       
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

      <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
    </form>
    </div>
  
{% endblock content %}
