{% extends 'base.html' %}
{% block content %}

<div class="container">

    <main>
		<section>
			<h2>À propos</h2>
			<p>La Boîte à idées est un site web conçu pour encourager la créativité et l'innovation. Nous croyons que les idées peuvent changer le monde, et nous voulons offrir un espace où les gens peuvent partager et discuter de leurs idées avec d'autres passionnés.</p>
			<p>Notre objectif est de créer une communauté dynamique et inclusive où tous les membres peuvent se sentir en sécurité pour exprimer leurs idées, quelles qu'elles soient. Nous sommes convaincus que les idées les plus innovantes naissent souvent de la collaboration et de la diversité.</p>
			<p>Si vous avez des commentaires ou des suggestions pour améliorer notre site, n'hésitez pas à nous contacter.</p>
		</section>
	</main>
    
</div>

{% endblock content %}