{% extends 'base.html' %}
{% block content %}

<head>
	<title>Ma boîte à idées</title>
</head>
<body>

	<main>
		<section>
			<h2 id="t1">Bienvenue sur ma boîte à idées!</h2>
			<p>Notre plateforme vous permet de soumettre vos idées les plus innovantes et de voter pour les idées d'autres personnes.</p>
			<p>Ensemble, nous pouvons créer un monde meilleur!</p>
		</section>
		<section>
			<h2>Super Idées</h2>
			<div>
				<img id= "im1" src="https://t4.ftcdn.net/jpg/00/39/00/67/360_F_39006763_VzZ7yU2PzBNzrZax5EFs0lQuZbnrHzxd.jpg" alt="Idée 1">
				<p>Idées</p>
			</div>
			
		</section>
	</main>

</body>
{% endblock content %}
